body {
  background-image: url("https://i.ibb.co/WHCxnnc/wallpaper-26c90.jpg");

}

.bg-main {
  background-image: url("https://i.ibb.co/Bq43V93/Screenshot-from-2020-06-02-22-27-00.png");
}

.bg-chicago {
  width: 150px;
  height: 200px;
  background-image: url("https://ibb.co/ZhkjfCN");
  //background-color: aquamarine;
}

.bg-city{
  background-image: url("https://i.ibb.co/Bq43V93/Screenshot-from-2020-06-02-22-27-00.png");
}